body {
  font-family: Poppins, sans-serif;
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 3px;
}

.btn-nav {
  padding: 8px;
  border-radius: 28px;
  width: 20%;
}

.btn-nav:hover {
  background-color: #f34842;
  cursor: pointer;
}
